@import '../../style/mixin.scss';
.start-container {
    text-align: center;
    .header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
        .react-logo {
            height: 40vmin;
            pointer-events: none;
        }
        .link {
            color: #61dafb;
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    .react-logo {
        animation: react-logo-spin infinite 20s linear;
    }
}

@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.link-colors {
    @include link-colors(blue, red, green);
    @extend .react-logo;
}

.link-colors-2 {
    font-weight: bold;
}